.container-principal {
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
}

.btn-login {
  margin: 10px;
}

.container-quadro-avisos {
  width: 80%;
  margin: 0 20px;
}

.section-quadro-avisos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  background-color: #fff;
  padding: 6em 0;
}

.container-carousel {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-localization {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 80%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 6em 0;
}

.container-localization h1 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin: 2em 0;
  color: #0c4d8d;
}

@media (max-width: 1500px) {
  .section-quadro-avisos {
    width: 95%;
  }
}

@media (max-width: 1000px) {
  .container-quadro-avisos {
    width: 95%;
    box-sizing: border-box;
    margin: 40px 0;
  }

  .container-carousel {
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-quadro-avisos {
    width: 95%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .container-localization {
    width: 95%;
  }
}
