.container-principal {
  display: flex;
  align-items: center;
  width: 75%;
  box-sizing: border-box;
  justify-content: center;
  border-bottom: solid 2px #0c4d8d;
  height: 120px;
  background-color: #fff;
  margin: 15px auto;
}

.img-logo {
  width: 50px;
  margin-right: 50px;
}

.section-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-nav nav {
  width: 100%;
}

.title-bem-vindo {
  font-size: 20px;
  margin: 0;
  color: #626262;
}

.container-title {
  display: flex;
  width: 100%;
}

.container-redes {
  margin-left: 150px;
  display: flex;
  align-items: center;
}

.container-redes i {
  margin: 10px;
  font-size: 18px;
  color: #626262;
  transform: scale(0.9);
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.container-icon-insta,
.container-icon-face {
  transform: scale(0.9);
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-icon-face i:hover {
  background-color: #0c4d8d;
  transform: scale(1);
  padding: 1em;
  color: #fff;
  border-radius: 10px;
}

.container-icon-insta i:hover {
  background-color: #660e407d;
  transform: scale(1);
  padding: 1em;
  color: #fff;
  border-radius: 10px;
}

.title-bem-vindo {
  font-size: 16px;
}

.title-bem-vindo span {
  color: #0c4d8d;
  font-size: 16px;
}

.container-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.container-list li {
  font-size: 16px;
  margin: 20px 20px 0 0px;
}

.container-list li a {
  color: #0c4d8d;
  text-transform: uppercase;
}

.container-list li a:hover {
  color: #0c4d8d;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: solid 2px #0c4d8d;
}

.menu-mobile {
  display: none;
}

@media (max-width: 1200px) {
  .container-principal {
    justify-content: space-between;
    width: 85%;
  }

  .section-nav {
    width: 100%;
  }

  .title-bem-vindo {
    font-size: 16px;
    text-align: center;
  }

  .container-list {
    display: flex;
  }

  .container-redes {
    margin-left: 10px;
  }

  .container-icon-face i:hover {
    background-color: none;
  }

  .container-icon-insta i:hover {
    background-color: none;
  }
}

@media (max-width: 600px) {
  .container-principal {
    padding-top: 24px;
    width: 90%;
  }

  .container-redes,
  .container-list {
    display: none;
  }

  .container-icon-insta,
  .container-icon-face {
    transform: scale(1);
  }

  .img-logo {
    width: 30px;
    margin: 0 0 0 20px;
  }

  .title-bem-vindo {
    font-size: 14px;
    text-align: center;
  }

  .container-title {
    display: flex;
    width: 70%;
  }

  .menu-mobile {
    display: flex;
  }
}
