.container-redes {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
}

.container-redes i {
  margin: 10px;
  font-size: 18px;
  color: #0c4d8d;
  transform: scale(0.9);
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.container-icon-insta,
.container-icon-face {
  transform: scale(0.9);
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-icon-face i:hover {
  background-color: #0c4d8d;
  transform: scale(1);
  padding: 1em;
  color: #fff;
  border-radius: 10px;
}

.container-icon-insta i:hover {
  background-color: #660e407d;
  transform: scale(1);
  padding: 1em;
  color: #fff;
  border-radius: 10px;
}
