.container-proximos-eventos {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin: 0 auto 0 auto;
  box-sizing: border-box;
  height: 600px;
  overflow-x: auto;
  color: #000;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 30px 0 0 30px;
}

.container-proximos-eventos::-webkit-scrollbar {
  height: 10px; /* Altura do scrollbar */
  width: 6px; /* Largura do scrollbar */
}

.container-proximos-eventos::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor do fundo do track */
}

.container-proximos-eventos::-webkit-scrollbar-thumb {
  background: #0c4d8d; /* Cor do thumb do scrollbar */
  border-radius: 5px; /* Borda do thumb */
}

.container-filtered {
  display: flex;
  margin: 10px;
  align-items: center;
  border-bottom: solid 1px #646cff1f;
  padding: 10px;
  justify-content: center;
}

.container-filtered select {
  background-color: transparent;
  color: #0c4d8d;
  font-weight: bold;
  border: none;
  outline: none;
  text-transform: uppercase;
}

.container-filtered i {
  margin: 5px;
}

.container-filtered .btn-filter {
  font-size: 10px;
  padding: 5px;
  background-color: transparent;
  color: #000;
  outline: none;
}

.container-proximos-eventos .title-proximos-eventos {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #fff;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  background-color: #0c4d8d;
}

.section-promximo-evento {
  padding: 5px;
  display: flex;
  align-items: center;
  width: 95%;
  border-bottom: solid 1px #0000002e;
  margin: 5px;
}

.card-date {
  border: solid 1px #0c4d8d;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 4px 32px;
  background-color: #0c4d8d;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  width: 40%;
}

.card-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card-description .event-name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
}

.container-proximos-eventos .proximo-evento {
  font-size: 14px;
}
.description-proximo-evento {
  font-size: 1em;
  text-transform: uppercase;
  color: #9f1a1b;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 1200px) {
  .container-proximos-eventos {
    width: 100%;
  }

  .container-proximos-eventos .proximo-evento {
    font-size: 10px;
  }

  .description-proximo-evento {
    font-size: 1em;
    font-weight: bold;
  }

  .card-date {
    width: 50%;
    padding: 8px 8px;
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .card-date {
    padding: 4px 8px;
    font-size: 12px;
    width: 45%;
  }

  .container-proximos-eventos .title-proximos-eventos {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .card-description .event-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
  }

  .description-proximo-evento {
    font-size: 0.8em;
    font-weight: bold;
  }

  .section-promximo-evento {
    padding: 0px;
    width: 100%;
    margin: 0px;
  }
}
