@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom.css */

body {
  width: 100%;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb-gray-300 {
  scrollbar-color: #0040a1 #000000; /* cor do polegar e faixa da barra de rolagem */
}

.scrollbar-thumb-gray-300::-webkit-scrollbar-thumb {
  background-color: #004bbb; /* cor do polegar da barra de rolagem */
}

.scrollbar-track-gray-100::-webkit-scrollbar-track {
  background-color: #00359f; /* cor da faixa da barra de rolagem */
}


@keyframes moveRightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Iniciar a animação */
.animate-moveRightToLeft {
  animation: moveRightToLeft 24s linear infinite;
}